<div class="ui top fixed inverted segment" style="padding: 0em;margin: 0em">
  <div class="ui container">
    <div class="ui borderless inverted menu">
      <a class="item" href="{{ url_for('coupon_home') }}">
        <img class="ui tiny image" src="{{ url_for('static', filename='images/logo1.png') }}">
      </a>

      <div class="right menu">
        <a class="item" href="{{ url_for('coupon_home') }}">
          Home
        </a>
        <a class="item" href="{{ url_for('coupon_list') }}">
          Coupon
        </a>
        <a class="item" href="{{ url_for('coupon_add') }}">
          Add Coupon
        </a>
      </div>
    </div>
  </div>

</div>

