{% extends 'layout.html' %}

{% block title %}About{% endblock %}


{% block content %}

  <div class="ui stackable grid">
    <div class="three wide column">
      {% include 'pages/group/sidebar.html' %}
    </div>
    <div class="thirteen wide column">
      <h2 class="ui header">
        <i class="edit icon"></i>
        <div class="content">
          Mission
          <div class="sub header">Mission of GDG SSU</div>
        </div>
      </h2>
      <div class="ui two column grid">
        <div class="row">
          <div class="column">
            <p></p>
            <div class="ui center aligned medium header">
              최고의 학생개발자와 디자이너를 모으기
            </div>
            <p></p>
            그냥 학생이라고 하기엔 뭔가 독특합니다. SW 분야를 전공하는 학생으로 자신만의 꿈과 목표가 명확하며 그저 배우는 것 뿐만이 아닌, 자신만의 주력분야를 가지고 실질적인 SW 개발/디자인을
            진행합니다. 우리는 우리 스스로를 평범한 학생이 아닌 학생 개발자/디자이너라고 칭합니다.
          </div>
          <div class="column">
            <p></p>
            <div class="ui center aligned medium header">
              Google의 기술과 디자인을 다루고 전파하기
            </div>
            <p></p>
            GDG SSU는 Google Developer Group SSU의 준말입니다. 이름처럼 우리는 Google의 기술인 Android, Web(Chrome), Google Cloud
            Platform, Golang 등 다양한 Google의 기술을 다뤄보고 그 사례를 공유합니다. 최근에는 Google로부터 등장하는 디자인언어가 산업전반에 대두되고 있기때문에, 디자이너에게도
            Google 디자인을 접해보는 것이 의미가 있습니다. 그리고 Google은 이러한 열정있는 학생들의 활동을 금전적인 차원에서 혹은 지식적인 측면에서 지원하고 있습니다.
          </div>
        </div>
        <div class="row">
          <div class="column">
            <p></p>
            <div class="ui center aligned medium header">
              동료와 함께 배우기, 그리고 그 기회를 널리 퍼뜨리기
            </div>
            <p></p>
            GDG SSU에는 이미 좋은 실력과 경험을 갖고있는 학생들이 많지만 학생은 학생일 뿐, 현업의 선배들에 비하면 아직 부족한 점이 많습니다. 그리고 같은 학생끼리도 분야가 다르고 경험의 영역이
            다르다면 언제나 생소한 것 투성입니다. 우리는 그러한 아쉬움을 해결하기 위해 우리와 같은 고민이나 어려움을 겪고있는 사람들을 모으고, 그러한 문제를 해결해 본 업계의 선배나 또래 개발자들을
            초청하여 Developer Event를 주최합니다. 이 Developer Event는 대형 컨퍼런스 혹은 작은 규모의 세미나, 짧은시간 동안 결과물을 만들면서 빠르게 익히는 해커톤과 같은
            이벤트가 포함됩니다.
          </div>
          <div class="column">
            <p></p>
            <div class="ui center aligned medium header">
              무엇보다 중요한 것은 학창시절 20대의 추억
            </div>
            <p></p>
            이 분야에서 나이 혹은 학년치고 굉장히 뛰어난 점이 많은 사람들이어도 우리는 우리의 젊은시절을 즐길 줄 알고 즐기고 싶어하는 대학생들입니다. 조금은 다른 학생들보다 진취적이고 또 넘쳐나는 열정
            탓에 독특해 보일지도 모르지만 우리 역시 다른 대학생들처럼 MT혹은 멤버들끼리의 LOL, Steam 패키지와같은 게임을 하기도하고, 축제에서 칵테일 주점을 진행하기도 합니다. 어차피 사람이
            모이는 것에 가장 중요한 요소는 재미와 함께하는 사람입니다. 자신의 성장도 성장이지만 특한 열정맨들끼리의 추억과 우정 역시 쌓는 것을 중요하게 생각합니다.
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
