{% extends 'coupon/layout.html' %}

{% block title %}GDG-Charger!{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
  <div class="ui vertical masthead center aligned segment" style="margin:0px 0px; padding-bottom:4em;">
    <div class="ui text container">

      <h2 class="ui center aligned medium icon header" style="padding:3em 0em;">
        <i class="ticket icon"></i>
        <div class="content">
          GDG Charger
          <div class="sub header">서울시의 소상공인 사업 활성화를 위한 GDG SSU의 프로젝트!</div>
        </div>
      </h2>



      <div class="ui center aligned grid">

        <div class="six wide column">

          <div class="ui ignored positive icon message">
            <i class="green checkmark icon"></i>
            <div class="content">
              <h3 class="header">
                쿠폰 등록에 성공하셨습니다.
              </h3>
              <p>홈 화면으로 돌아가서 쿠폰을 선택해 주세요!</p>
            </div>
          </div>

          <a href="{{ url_for('coupon_home') }}" class="fluid ui animated fade teal basic button">
            <div class="visible content">홈 화면으로 돌아가기</div>
            <div class="hidden content">
              <i class="arrow right icon"></i>
            </div>
          </a>

        </div>


      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
{% endblock %}


