{% extends 'coupon/layout.html' %}

{% block title %}GDG-Charger!{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
  <div class="ui vertical masthead center aligned segment" style="margin:0px 0px; padding-bottom:4em;">
    <div class="ui text container">
      <h2 class="ui center aligned medium icon header" style="padding:1em 0em;">
        <i class="ticket icon"></i>
        <div class="content">
          GDG Charger
          <div class="sub header">서울시의 소상공인 사업 활성화를 위한<br> GDG SSU의 프로젝트!</div>
        </div>
      </h2>
      <div id="company-data"
           data-company="{{ coupon.company }}"
           data-company-addr="{{ coupon.company_addr }}"
           data-company-desc="{{ coupon.company_desc }}"
           data-company-phone="{{ coupon.company_phone }}"
           data-company-open_hour="{{ coupon.company_open_hour }}">
        <div class="ui stackable center aligned grid">
          <div class="four wide column">
            <div class="ui segment">
              <h4 class="ui header">
                매일매일 같은 출근에 시달리는 당신을 위한 커피숍 추천!!
              </h4>
            </div>
            <div class="ui card" style="margin-left:auto;margin-right:auto;">
              <div class="image">
                {{ coupon.company_type | select_label | safe }}
                <img src="{{ url_for('static',filename='images/coupon/'+coupon.company_thumb) }}" style="height:165px;">
              </div>
              <div class="content">
                <a class="header">{{ coupon.company }}</a>
                <div class="description">
                  {{ coupon.company_desc }}<br><br>
                  {{ coupon.company_addr }}<br><br>
                  <i class="wait icon"></i>
                  {{ coupon.company_open_hour }}
                </div>
                <div class="meta">
                  <span class="date">{{ coupon.created_date | humanize }} 업데이트 됨</span>
                </div>
              </div>
              <div class="extra content">
                <a href="{{ "tel:"+coupon.company_phone }}">
                  전화 걸기
                </a>
              </div>
              <div class="extra content">
                <a href="{{ url_for('static',filename='images/coupon/'+ coupon.company_menu ) }}">
                  모든 메뉴보기
                </a>
              </div>
            </div>
          </div>
          <div class="ten wide column">
            <div class="ui segment">
              <h2 class="ui header">
                {{ coupon.coupon_content }}
                <div class="sub header">{{ coupon.coupon_price }}₩</div>
              </h2>
            </div>
            <br>
            <div class="ui embeded" style="height:350px;overflow:hidden;">
              <div id="google_map" style="width:100%; height:500px;"></div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3.exp&region=KR&key=AIzaSyCfFoY7oVGrcmsqRZxo62nagzAnWP-ECIw"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/coupon_map.js') }}"></script>
{% endblock %}


