{% extends 'layout.html' %}

{% block title %}정보 수정{% endblock %}

{% block content %}

  <div class="ui stackable centered grid">
    <div class="six wide column">

      <h2 class="ui center aligned header" style="margin: 1em 0em;">
        <i class="large icons">
          <i class="member icon"></i>
        </i>
        비밀번호 변경
      </h2>

      <form action="{{ request.url }}" method="POST" class="ui form{% if form.errors %} error{% endif %}" novalidate
            style="margin:1em 0em">
        {{ form.csrf_token }}
        <div class="field{% if form.errors['password'] %} error{% endif %}">
          <label>Password</label>
          {{ form.password(placeholder="비밀번호를 입력해주세요", minlength="6", maxlength="20") }}
          {% if form.errors['password'] %}
            <div class="ui user error message">
              {% for error in form.errors['password'] %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="field{% if form.errors['new_password'] %} error{% endif %}">
          <label>New Password</label>
          {{ form.new_password(placeholder="비밀번호를 입력해주세요", minlength="6", maxlength="20") }}
          {% if form.errors['new_password'] %}
            <div class="ui user error message">
              {% for error in form.errors['new_password'] %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="field{% if form.errors['new_confirm_password'] %} error{% endif %}">
          <label>Confirm New Password</label>
          {{ form.new_confirm_password(placeholder="비밀번호를 다시 입력해주세요", **{'data-rule-equalTo': "input[name='new_password']"}) }}
          {% if form.errors['new_confirm_password'] %}
            <div class="ui user error message">
              {% for error in form.errors['new_confirm_password'] %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <button class="fluid ui primary button" type="submit">수정하기</button>
      </form>
    </div>
  </div>

{% endblock %}
