<div class="ui top fixed inverted segment" style="padding: 0em;margin: 0em">
  <div class="ui container">
    <div class="ui borderless inverted menu">
      <a class="item" href="{{ url_for('index') }}">
        <img class="ui tiny image" src="{{ url_for('static', filename='images/logo1.png') }}">
      </a>
      <div class="right menu">
        <a class="item" href="{{ url_for('index') }}">
          Home
        </a>
        <a class="item" href="{{ url_for('about') }}">
          About
        </a>
        <a class="item" href="{{ url_for('document_list', board='notice',page=1) }}">
          Notice
        </a>
        <a class="item" href="{{ url_for('document_list', board='free',page=1) }}">
          Board
        </a>
        <div class="item">
          {% if not session['username'] %}
            <a href="{{ url_for('login') }}" class="item"><i class="arrow right icon"></i> 로그인</a>
          {% else %}
            <div class="ui dropdown item">
              {{ session['username'] }}님
              <i class="dropdown icon"></i>
              <div class="menu">
                <a href="{{ url_for('dashboard') }}" class="item">
                  <i class="settings icon"></i>
                  대시보드
                </a>
                <a href="{{ url_for('logout') }}" class="item">
                  <i class="sign out icon"></i>
                  로그 아웃
                </a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

